body{
  padding-top:80px;
  word-wrap:break-word;
  background-color:transparent;
}
img{
  height: 200px;
}
/* .hidden {
    display: none;
} */
.well{
  display: none;
}

input[type="text"] {
    width: 30%;
    padding: 8px;
    margin-right: 10px;
} 
html {
    background-image: url(https://novatel.com/-/media/Images/Hexagon/Hexagon-Core/Novatel/assestsFinal/assets/Web-Phase-2-2012/Technology-in-Action/intro-to-gnss/intro-gnss-figure-30.ashx);
    background-size: cover;
    background-repeat: no-repeat;  
}
.col-sm-6{
  background: rgba(250, 250, 250, 0.931);
}